<hr/>
<%form_remote_for :scans, :loading=>"hideElement('save');showElement('spinner')",:complete=>"hideElement('spinner');showElement('save')",
  :url =>'/out_of_cycle/scans/update',:html=>{:name=>"scans_form"} do |f|%>
  <table>
    <tr>
      <td><%= select_tag :option, options_for_select([["Action",0],["Label Selected Records","selected"],["Label All #{@scans.total_entries} Records","all"],["Remove All #{@scans.total_entries} Labels","unlabel_all"]]),:disabled=>hide_element %></td>
      <td><span class="bold">Scan Type</span>: <%= session[:ooc_scan_search][:ooc_scan_type] %><%= hidden_field_tag :scan_type,session[:ooc_scan_search][:ooc_scan_type] %></td>
      <td><%= f.submit "Submit" ,{:id=>"save",:onclick=>"return verifySubmit(#{@scans.total_entries})" ,:disabled=>hide_element}%></td>
      <td><img src="/images/spinner.gif" id="spinner" style="display: none;" alt="spinner"/></td>
      <td><%= submit_tag("Reset Form", { :name => 'reset', :id => 'reset_button', :type => "reset", :style=>"display:block" ,:disabled=>hide_element}) %></td>
    </tr>
  </table>

  <%#= observe_field :option, :function=>"if ($('option').value!='0'){Element.show('scan_type')}else{Element.hide('scan_type');}" %>

  <%= will_paginate @scans,:params=>{:params=>session[:ooc_scan_search],:action=>"search"},:class => 'pagination ajax' %>
  <div>Total Records  Found: <%= @scans.total_entries %></div>
  <table width="100%">
    <tr class="tbl_heading">
      <th>System Information</th>
      <th>System Scan Status</th>
      <th>Deviations | Scan | Tool<br/>
        Select Recent: <%= check_box_tag :select_ready, "1",false,{:onclick=>"selectRecent()", :disabled=>hide_element} %></th>
      <th>Scan Type</th>
      <th>&nbsp;</th>
    </tr>
    <% @scans.each_with_index do |as, row| %>
      <% f.fields_for "scan[#{row}]" do |ff| %>
        <tr id="row_<%= row %>" class=<%= cycle("gray","white")  %> >
          <td class="left"><%= "<b>#{as.host_name}</b><br/> #{as.ip_string_list}<br/> #{as.os_product}<br/> #{as.group_name}" %>
      <%# if as.scan_id %>
            <%= ff.hidden_field :ooc_group_id,:value=>as.ooc_group_id %>
            <%= ff.hidden_field :asset_id,:value=>as.asset_id %>
      <%#end%>
          </td>

          <td><%= as.system_scan_status %> </td>
          <td>
            <%=
            if as.system_scan_status=="Released" and as.scan_id.nil?
              #show drop down if the scan has been released
              (!@scanlist[:unlabled][as.asset_id].nil? and @scanlist[:unlabled][as.asset_id].size>1) ? ff.select(:scan_id,@scanlist[:unlabled][as.asset_id]): nil
            elsif as.system_scan_status=="Released"
              @scanlist[:labled][as.scan_id]
            elsif as.system_scan_status=~/^Available/ #and as.scan_id.nil?
              #show drop down if none has been labeled yet
              ff.select(:scan_id,@scanlist[:unlabled][as.asset_id])
            elsif as.system_scan_status=~/^Labeled/
              #show the scan that was labeled
              @scanlist[:labled][as.scan_id]
            end
          %>
          </td>
          <td><%= as.scan_type %></td>
          <td><%= remove_link hide_element, as, row, params[:page] %></td>
        </tr>
      <% end # end fields_for 
      %>
    <% end #end each loop 
    %>
  </table>
<% end #end form %>
<%= will_paginate @scans,:params=>{:params=>session[:ooc_scan_search],:action=>"search"},:class => 'pagination ajax' %>
<% if @scans.blank? %>
  <p>No Scans Found</p>
<%end%>

<%#= observe_field(:option,:function=>"if ($('option').value=='0' ) {Form.Element.disable('scan_type')}else{Form.Element.enable('scan_type')}") %>
