<hr/>
<%form_remote_for :asset, :loading=>"Element.hide('asset_save');Element.show('asset_save_spinner')",:complete=>"Element.hide('asset_save_spinner');Element.show('asset_save')", 
  :url =>{:controller => "assets", :action => "update" },
  :html=>{:name=>"asset_scan_form",:id=>"asset_form"}  do |f|%>
  <table>
    <tr>
      <td><%=  select_tag "option", options_for_select([["Action","action"],["Assign Selected Records","selected"],["Assign All #{@assets.total_entries} Records","all"]], :selected=>"action"),:disabled=>hide_element %></td>
      <td><%#= label_tag "Save filtered result as:" %>
        <%= select_tag "select_ooc_group_id", options_for_select(ooc_group_list_all(current_org_id,session[:ooc_asset_search][:ooc_group_type]).collect { |g|[ g.ooc_group_name, g.ooc_group_id]}.insert(0,["Select OOC Group","none"],["unassigned",""]),:selected=>"none"),
          :disabled=>true %></td>
      <td><img src="/images/spinner.gif" id="asset_save_spinner" style="display: none;" alt="spinner"/></td>
      <td><%= f.submit "save", {:id=>"asset_save", :onclick =>"return verifySubmit(#{@assets.total_entries})",
          :disabled=>hide_element} %></td>
      <td><%= submit_tag("Reset Form", { :name => 'reset', :id => 'reset_button', :type => "reset", :style=>"display:block" ,:disabled=>hide_element}) %></td>

    </tr>
  </table>
  <%= f.error_messages  %>
  <%= will_paginate @assets,:params=>{:params=>session[:ooc_asset_search],:action=>"search"}, :class => 'pagination ajax'%>
  Total Records Found: <%= @assets.total_entries %>
  <table style="clear:left" width="95%">
    <tr class="tbl_heading">
      <th title="Select all to assign systems on this page only.">
        Select All<br/>
        <%= check_box_tag :select_latest, "1",false,{:onclick=>"selectFindings()", :disabled=>hide_element} %>
      </th>
      <th>System Information</th>
      <th>System Status</th>
      <th>HC Required</th>
      <th>Security Classification</th>
      <th>HC Start Date</th>
      <th>Group Type/Status</th>
    </tr>
    <% @assets.each_with_index do |asset, index| %>

      <% fields_for "assets[#{index}]", asset do |ff| %>
        <tr class="<%=h cycle("gray","white") %>">
          <td>
            <%= ff.check_box :selected, {:disabled=>hide_element}, asset.tool_asset_id, '' %>
            <%#= ff.select :ooc_group_id, ooc_group_list_all(current_org_id).collect { |g|[ "#{g.ooc_group_name}", g.ooc_group_id]},
              {:include_blank=>"unassigned",:disabled=>OocAssetGroup.find_all_by_asset_id(asset.tool_asset_id).collect{|a| a.ooc_group_id}},{}%>
            <%#= ff.hidden_field :tool_asset_id %>
            <br/>
            <%= ff.hidden_field :ooc_group_id %>
          </td>
          <td class="left">
            <b><%=h asset.host_name %></b><br>
            <%=h asset.ip_string_list %><br>
            <%=h asset.os_product %><br>
            <%=h asset.ooc_group_name ||= 'unassigned' %>
          </td>
          <td><%=h asset.system_status%> </td>
          <td><%=h asset.hc_required %> </td>
          <td><%=h asset.security_policy_name  %> </td>
          <td><%=h asset.hc_start_date %> </td>
          <td>
            <% if asset.ooc_group_id.nil? %>
              No Group Set
            <% else %>
              <%=h asset.ooc_group_type %><br>
              <%=h asset.ooc_group_status %>
            <% end %>
          </td>
        </tr>
      <% end  #fields for
      %>
    <%  end #index of search_assets
    %>
  </table>
  <%= will_paginate @assets,:params=>{:params=>session[:ooc_asset_search],:action=>"search"},
    :class => 'pagination ajax'%>
  <% if @assets.blank? %>
    No Systems Found
  <%end%>
<%  end #remote form -%>


 <%= observe_field(:option,:function=>"if ($('option').value=='action' ) {Form.Element.disable('select_ooc_group_id')}else{Form.Element.enable('select_ooc_group_id')}") %>
