<h1>Apply Out of Cycle Suppressions</h1>
<div id="current_org_name">
  <%= show_current_org_name %>
</div>
<% unless expiring_suppressions.empty? %>
<p>
<%= link_to_function "This account has #{expiring_suppressions.size + expired_suppressions.size} suppression(s) expired or expiring soon!",
    :onclick=>"Element.show('expired_suppressions');Element.show('hide_supp_link');Element.hide('show_supp_link');",:id=>"show_supp_link",:style=>"color:red" %>
  <%= link_to_function "Hide suppression list",
    :onclick=>"Element.hide('expired_suppressions');Element.hide('hide_supp_link');Element.show('show_supp_link');",:id=>"hide_supp_link",:style=>"color:red;display:none" %>
<div id="expired_suppressions" style="border:1px solid red;width:600px; padding:10px;display:none;">
  <ul>
    <% expiring_suppressions.each do |sup| %>
    <li>Expiring Soon: <%= link_to sup.suppress_name, edit_suppression_path(sup,:cycle=>"suppress"),:target=>"_blank"  %> </li>
    <%end%>
    <% expired_suppressions.each do |sup| %>
    <li>Expired: <%= link_to sup.suppress_name, edit_suppression_path(sup,:cycle=>"suppress"),:target=>"_blank"  %> </li>
    <%end%>
  </ul>
</div>
</p>
<%end%>
<% form_remote_tag :loading=>"hideElement('find');showElement('find_spinner')",
       :complete=>"hideElement('find_spinner');showElement('find')",
       :url=>'/out_of_cycle/deviations/search',
       :html => {:class => 'hip-search hip-ooc-deviations-search'} do %>
  <%= hidden_field_tag :org_id, current_org_id %>
  <div id="container2">
    <div id="container1"style="width: 100%" >
      <div id="col1">
        <p>
          <%= label_tag  "Scan Type"%>
          <%= select_tag :ooc_scan_type, options_for_select(ooc_scan_type_list.insert(0,["Choose Scan Type","choose"]),
            {:selected=>ooc_scan_type,:disabled=>"--------------"})%>
        </p>

        <div style="display: inline" id="group_scan">
          <%= render 'out_of_cycle/scans/group_scan_lists' %>
        </div>
      </div>

      <div id="col2">
        <p>
          <%= label_tag :val_group, "Deviation Validation Group"%>
          <%= select_tag( :val_group,options_for_select(Vuln.category.collect{|c| c.sarm_cat_name}.insert(0,"All","unk"),:selected=>"All"))  %>
        </p>

        <p>
          <%= label_tag :system_name ,"System Name"%>
          <%= text_field_tag :host_name %>
        </p>
        <p>
          <%= label_tag :ip_address ,"IP Address"%>
          <%= text_field_tag :ip_address %>
        </p>


      </div>
    </div>
    <div id="filter" style="clear:both;display:none">
      <div id="container1">
        <div id="col1">
          <p>
            <%= label_tag :os,"Operating System"%>
            <%= select_tag :os, options_for_select(Os.os_product_list.collect{|o| [ o.os_product, o.os_product ] }.insert(0,["All",""])) %>
          </p>
          <p>
            <%= label_tag :system_status,"System Status"%>
            <%= select_tag :system_status, options_for_select(Asset.status_for_select.collect{|s| s.system_status}.insert(0,["All",""]))%>
          </p>
          <p>
            <%= label_tag :vuln_title, "Deviation Type"%>
            <%= text_field_with_auto_complete '', :vuln_title,
              {:size=>"40"},
              { :url =>  vulns_path(:js),:frequency=>"1.5",
              :method => :get, :param_name=>'title'}%>
            <!-- Sort ASC: <%= radio_button_tag :sort, 'asc',:checked=>true %>
            DESC <%= radio_button_tag :sort, 'desc',:checked=>false %> -->
          </p>
          <p>
            <%= label_tag :vuln_text, "Deviation Text" %>
            <%= text_field_tag :vuln_text %>
          </p>
        </div>
        <div id="col2">
          <p>
            <%= label_tag :deviation_level, "Deviation Level"%>
            <%= select_tag(:deviation_level, options_for_select([
                  ["All"],
                  #["Compliant"],   <--- Removed until HIP processes compliant data
                 # ["Info"],
                  ["Violation"],
                 # ["Warning"],
                ]),:selected => "All") %>
          </p>
          <p>
            <%= label_tag :val_status, "Deviation Status"%>
            <%= select_tag(:val_status,options_for_select([
                  ["All"],
                  ["Valid","valid"],
                  ["Suppressed","suppressed"],
                ]),:selected=>"not_validated")  %>
          </p>
          <p>
            <%= label_tag :suppress_status,"Suppression Status"%>
            <%= select_tag :suppress_status, options_for_select([
              ["All"],
              ["No Suppression", "none"],
              ["Current", "current"],
              ["Expired", "expired"],
              ["Current, Expiring Soon", "current_expiring"],
              ["Current, Not Expiring Soon", "current_not_expiring"],
            ]) %>
          </p>
          <p>
            <%= label_tag :suppress_id,"Suppression Name"%>
            <%= select_tag :suppress_id, options_for_select(exception_list_all(current_org_id).collect{|o| [ o.suppress_name, o.suppress_id ] }.insert(0,["All",""])) %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <table style="clear:both">
    <tr >
      <td><img src="/images/spinner.gif" id="find_spinner" style="display: none;" alt="spinner" />
        <%= submit_tag 'find',{:id=>"find",:disabled=>true} %></td>
      <td><%= submit_tag("start over", { :class => 'resetForm', :type => "button", :style=>"display:block" }) %></td>
      <td><%= label_tag :per_page, "Results Per Page"%>
        <%= select_tag :per_page, options_for_select(per_page_list,:selected=>per_page) %></td>
    </tr>
  </table>
  <%= link_to_function "Show More Filter Options",
    :onclick=>"Element.show('filter');Element.show('hide_filter_link');Element.hide('show_filter_link');",:id=>"show_filter_link" %>
  <%= link_to_function "Hide Filter Options",
    :onclick=>"Element.hide('filter');Element.hide('hide_filter_link');Element.show('show_filter_link');",:id=>"hide_filter_link",:style=>"display:none" %>
<% end %>



<div id="result"></div>

<script  type="text/javascript">

  function selectFindings(){
    var scan_form =document.forms['scan_findings_form']
    var tags = scan_form.getElementsByTagName('input')
    for (var i = 0; i < tags.length; i++){
      if (tags[i].name.indexOf('finding_id')>0){
        if (tags[i].checked==false){

          tags[i].checked=true
        }else{
          tags[i].checked=false
        }
      }
    }
  }
  function setFindings(value){
    var ele = document.getElementById('scan_findings_findings')
    ele.value=value
  }

  function doPopup(findings){
    new Popup('new_suppression_popup',null,{modal:true});
    $('new_suppression_popup').popup.show();
    setFindings(findings);
  }
  function verifySubmit(){
    var status=false
    if (checkSelectElement('scan_findings_option','Select a valid action.')){
      var element = document.getElementById('scan_findings_option')
      status=true
      value = element.options[element.options.selectedIndex].value
      if (value=='validate_all' || value=='suppress_all'){
        text = element.options[element.options.selectedIndex].text
        return confirm('Are you sure you want to '+ text +'.')
      }
      return status
    }
    return status
  }
</script>

<script type="text/javascript">

HIP.initOocSearch();

</script>
